In [239]:
#Data casos positivos

import pandas as pd
#!pip install patool pandas
import patoolib
import pandas as pd
import os
from tempfile import TemporaryDirectory


rar_path = "C:/Users/maria/OneDrive/Documentos/GITHUB/Redes2/positivos_covid.rar"
with TemporaryDirectory() as tmpdir:
    patoolib.extract_archive(rar_path, outdir=tmpdir)
    
    csv_filename = [f for f in os.listdir(tmpdir) if f.endswith('.csv')][0]
    csv_path = os.path.join(tmpdir, csv_filename)

    contagiados = pd.read_csv(csv_path, delimiter=';')

print(contagiados)

INFO patool: Extracting C:/Users/maria/OneDrive/Documentos/GITHUB/Redes2/positivos_covid.rar ...
INFO patool: running "C:\Program Files\WinRAR\rar.EXE" x -- C:\Users\maria\OneDrive\Documentos\GITHUB\Redes2\positivos_covid.rar
INFO patool:     with cwd=C:\Users\maria\AppData\Local\Temp\tmp69p6cog_, input=

INFO patool: ... C:/Users/maria/OneDrive/Documentos/GITHUB/Redes2/positivos_covid.rar extracted to `C:\Users\maria\AppData\Local\Temp\tmp69p6cog_'.

         FECHA_CORTE DEPARTAMENTO  PROVINCIA              DISTRITO METODODX  \
0           20241203       TUMBES     TUMBES                TUMBES       AG
1           20241203         LIMA       LIMA           JESUS MARIA       AG
2           20241203   SAN MARTIN  MOYOBAMBA             MOYOBAMBA       AG
3           20241203     AREQUIPA   CAYLLOMA             COPORAQUE       AG
4           20241203         LIMA       LIMA           JESUS MARIA       AG
...              ...          ...        ...                   ...      ...
4585355     20241203         LIMA       LIMA           JESUS MARIA       AG
4585356     20241203         LIMA       LIMA           EL AGUSTINO       AG
4585357     20241203         LIMA       LIMA                   ATE       AG
4585358     20241203         LIMA       LIMA  SAN MARTIN DE PORRES       AG
4585359     20241203         LIMA       LIMA            CARABAYLLO       AG

         EDAD       SEXO  FECHA_RESULTADO    UBIGEO  id_persona
0        46.0   FEMENINO       20221207.0  240101.0    203499.0
1        69.0   FEMENINO       20230822.0  150113.0    221397.0
2        55.0   FEMENINO       20240108.0  220101.0    295651.0
3        50.0  MASCULINO       20230824.0   40506.0    851625.0
4        58.0  MASCULINO       20221217.0  150113.0    287786.0
...       ...        ...              ...       ...         ...
4585355  21.0  MASCULINO       20220105.0  150113.0         NaN
4585356  22.0  MASCULINO       20220107.0  150111.0         NaN
4585357  22.0  MASCULINO       20220107.0  150103.0         NaN
4585358  22.0  MASCULINO       20220107.0  150135.0         NaN
4585359  22.0  MASCULINO       20220107.0  150106.0         NaN

[4585360 rows x 10 columns]

In [240]:
#data fallecidos
fallecidos = pd.read_csv("fallecidos_covid.csv",delimiter=';')
fallecidos.head()

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20240317,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203506.0
1,20240317,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203532.0
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203584.0
3,20240317,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101.0,212541.0
4,20240317,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203665.0

In [241]:
fallecidos["FECHA_FALLECIMIENTO"] = fallecidos["FECHA_FALLECIMIENTO"].astype(str)
fallecidos["year"] = fallecidos["FECHA_FALLECIMIENTO"].str[:4]
fallecidos = fallecidos.drop(columns=["FECHA_FALLECIMIENTO"])

## Contagiados

### Exploramos la data

In [242]:
contagiados.head()

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
0,20241203,TUMBES,TUMBES,TUMBES,AG,46.0,FEMENINO,20221207.0,240101.0,203499.0
1,20241203,LIMA,LIMA,JESUS MARIA,AG,69.0,FEMENINO,20230822.0,150113.0,221397.0
2,20241203,SAN MARTIN,MOYOBAMBA,MOYOBAMBA,AG,55.0,FEMENINO,20240108.0,220101.0,295651.0
3,20241203,AREQUIPA,CAYLLOMA,COPORAQUE,AG,50.0,MASCULINO,20230824.0,40506.0,851625.0
4,20241203,LIMA,LIMA,JESUS MARIA,AG,58.0,MASCULINO,20221217.0,150113.0,287786.0

In [243]:
contagiados["FECHA_RESULTADO"] = contagiados["FECHA_RESULTADO"].astype(str)
contagiados["year"] = contagiados["FECHA_RESULTADO"].str[:4]
contagiados = contagiados.drop(columns=["FECHA_RESULTADO"])

In [244]:
#Limpiamos la variable year
contagiados["year"].unique()
contagiados = contagiados[~contagiados["year"].isin(['nan', '1899'])]
contagiados = contagiados[contagiados["year"].notna()]

In [245]:
fallecidos['CATEGORIA'] = 'FALLECIDO'
contagiados['CATEGORIA'] = 'CONTAGIADO'
fallecidos = fallecidos.rename(columns={'EDAD_DECLARADA': 'EDAD'})

In [246]:
key_columns = ['year', 'SEXO', 'EDAD', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO', 'CATEGORIA']
covid = pd.concat([fallecidos[key_columns], contagiados[key_columns]], ignore_index=True)
print(covid)

         year       SEXO  EDAD DEPARTAMENTO PROVINCIA              DISTRITO  \
0        2022  MASCULINO  63.0       TUMBES    TUMBES                TUMBES
1        2021  MASCULINO  74.0       TUMBES    TUMBES                TUMBES
2        2021   FEMENINO  72.0        TACNA     TACNA    ALTO DE LA ALIANZA
3        2021  MASCULINO  85.0       TUMBES    TUMBES                TUMBES
4        2021  MASCULINO  46.0        TACNA     TACNA    ALTO DE LA ALIANZA
...       ...        ...   ...          ...       ...                   ...
4803856  2022  MASCULINO  21.0         LIMA      LIMA           JESUS MARIA
4803857  2022  MASCULINO  22.0         LIMA      LIMA           EL AGUSTINO
4803858  2022  MASCULINO  22.0         LIMA      LIMA                   ATE
4803859  2022  MASCULINO  22.0         LIMA      LIMA  SAN MARTIN DE PORRES
4803860  2022  MASCULINO  22.0         LIMA      LIMA            CARABAYLLO

           UBIGEO   CATEGORIA
0        240101.0   FALLECIDO
1        240101.0   FALLECIDO
2        230102.0   FALLECIDO
3        240101.0   FALLECIDO
4        230102.0   FALLECIDO
...           ...         ...
4803856  150113.0  CONTAGIADO
4803857  150111.0  CONTAGIADO
4803858  150103.0  CONTAGIADO
4803859  150135.0  CONTAGIADO
4803860  150106.0  CONTAGIADO

[4803861 rows x 8 columns]

In [247]:
# Eliminar las filas donde 'PROVINCIA' sea igual a "Investigación"
covid = covid[covid['PROVINCIA'] != 'EN INVESTIGACIÓN']

# Eliminar las filas donde 'PROVINCIA' sea igual a "Investigación"
covid = covid[covid['DEPARTAMENTO'] != 'MASCULINO']

# Verificar que se haya eliminado correctamente
print(covid['PROVINCIA'].value_counts())

PROVINCIA
LIMA                         1972520
AREQUIPA                      264943
CALLAO                        173458
TRUJILLO                      145357
CHICLAYO                      110582
                              ...
MOHO                             450
LAURICOCHA                       445
BOLIVAR                          411
MARAÑON                          392
CARLOS FERMIN FITZCARRALD        362
Name: count, Length: 196, dtype: int64

In [248]:
covid['CATEGORIA'].value_counts()

CATEGORIA
CONTAGIADO    4346340
FALLECIDO      220916
Name: count, dtype: int64

## Reshaping to Long

People per level, by distrit by year:

In [249]:
indexList = ['year', 'DEPARTAMENTO', 'PROVINCIA',"CATEGORIA"]
aggregator = {'CATEGORIA': [len]}  
covid_provYear = covid.groupby(indexList, observed=True).agg(aggregator)
# Renombramos len a fallecidos
covid_provYear

                                                   CATEGORIA
                                                         len
year DEPARTAMENTO PROVINCIA             CATEGORIA
2020 AMAZONAS     BAGUA                 CONTAGIADO      8126
                                        FALLECIDO        270
                  BONGARA               CONTAGIADO       389
                                        FALLECIDO         25
                  CHACHAPOYAS           CONTAGIADO      2174
...                                                      ...
2024 TUMBES       CONTRALMIRANTE VILLAR FALLECIDO          1
                  TUMBES                CONTAGIADO        57
                  ZARUMILLA             CONTAGIADO        16
     UCAYALI      CORONEL PORTILLO      CONTAGIADO       117
                  PADRE ABAD            CONTAGIADO         6

[1742 rows x 1 columns]

Sending the counts to wide columns:

In [250]:
CovidDraft=covid_provYear.unstack(3).fillna(0) #leftmost index in rows
CovidDraft

                                         CATEGORIA
                                               len
CATEGORIA                               CONTAGIADO FALLECIDO
year DEPARTAMENTO PROVINCIA
2020 AMAZONAS     BAGUA                     8126.0     270.0
                  BONGARA                    389.0      25.0
                  CHACHAPOYAS               2174.0      61.0
                  CONDORCANQUI              3481.0      79.0
                  LUYA                       456.0      20.0
...                                            ...       ...
2024 TUMBES       CONTRALMIRANTE VILLAR        6.0       1.0
                  TUMBES                      57.0       0.0
                  ZARUMILLA                   16.0       0.0
     UCAYALI      CORONEL PORTILLO           117.0       0.0
                  PADRE ABAD                   6.0       0.0

[954 rows x 2 columns]

Computing share of covid, level 'Fallecido':

In [251]:
CovidDraft['Fallecido_pct']=CovidDraft.iloc[:,1]/(CovidDraft.iloc[:,0] + CovidDraft.iloc[:,1])
Covid_provYear_Fallecido_w=CovidDraft['Fallecido_pct'].unstack('year').fillna(0)
Covid_provYear_Fallecido_w

year                               2020      2021      2022      2023  \
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.032158  0.043343  0.009309  0.012048
             BONGARA           0.060386  0.042365  0.004338  0.000000
             CHACHAPOYAS       0.027293  0.039357  0.003565  0.019868
             CONDORCANQUI      0.022191  0.046713  0.009671  0.000000
             LUYA              0.042017  0.054735  0.003810  0.018868
...                                 ...       ...       ...       ...
TUMBES       ZARUMILLA         0.076790  0.066782  0.019383  0.074074
UCAYALI      ATALAYA           0.083491  0.230216  0.040541  0.000000
             CORONEL PORTILLO  0.083943  0.119762  0.010725  0.081545
             PADRE ABAD        0.050963  0.070412  0.009662  0.000000
             PURUS             0.005666  0.045455  0.000000  0.000000

year                               2024
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.000000
             BONGARA           0.000000
             CHACHAPOYAS       0.007299
             CONDORCANQUI      0.000000
             LUYA              0.000000
...                                 ...
TUMBES       ZARUMILLA         0.000000
UCAYALI      ATALAYA           0.000000
             CORONEL PORTILLO  0.000000
             PADRE ABAD        0.000000
             PURUS             0.000000

[198 rows x 5 columns]

Notice the data type:

In [252]:
Covid_provYear_Fallecido_w.columns

Index(['2020', '2021', '2022', '2023', '2024'], dtype='object', name='year')

In [253]:
Covid_provYear_Fallecido_w.columns=['year'+str(x) for x in Covid_provYear_Fallecido_w.columns]

In [254]:
# then
Covid_provYear_Fallecido_w

                               year2020  year2021  year2022  year2023  \
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.032158  0.043343  0.009309  0.012048
             BONGARA           0.060386  0.042365  0.004338  0.000000
             CHACHAPOYAS       0.027293  0.039357  0.003565  0.019868
             CONDORCANQUI      0.022191  0.046713  0.009671  0.000000
             LUYA              0.042017  0.054735  0.003810  0.018868
...                                 ...       ...       ...       ...
TUMBES       ZARUMILLA         0.076790  0.066782  0.019383  0.074074
UCAYALI      ATALAYA           0.083491  0.230216  0.040541  0.000000
             CORONEL PORTILLO  0.083943  0.119762  0.010725  0.081545
             PADRE ABAD        0.050963  0.070412  0.009662  0.000000
             PURUS             0.005666  0.045455  0.000000  0.000000

                               year2024
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.000000
             BONGARA           0.000000
             CHACHAPOYAS       0.007299
             CONDORCANQUI      0.000000
             LUYA              0.000000
...                                 ...
TUMBES       ZARUMILLA         0.000000
UCAYALI      ATALAYA           0.000000
             CORONEL PORTILLO  0.000000
             PADRE ABAD        0.000000
             PURUS             0.000000

[198 rows x 5 columns]

In [255]:
# as usual
Covid_provYear_Fallecido_w.reset_index(inplace=True)
Covid_provYear_Fallecido_w

,DEPARTAMENTO,PROVINCIA,year2020,year2021,year2022,year2023,year2024
0,AMAZONAS,BAGUA,0.032158,0.043343,0.009309,0.012048,0.000000
1,AMAZONAS,BONGARA,0.060386,0.042365,0.004338,0.000000,0.000000
2,AMAZONAS,CHACHAPOYAS,0.027293,0.039357,0.003565,0.019868,0.007299
3,AMAZONAS,CONDORCANQUI,0.022191,0.046713,0.009671,0.000000,0.000000
4,AMAZONAS,LUYA,0.042017,0.054735,0.003810,0.018868,0.000000
...,...,...,...,...,...,...,...
193,TUMBES,ZARUMILLA,0.076790,0.066782,0.019383,0.074074,0.000000
194,UCAYALI,ATALAYA,0.083491,0.230216,0.040541,0.000000,0.000000
195,UCAYALI,CORONEL PORTILLO,0.083943,0.119762,0.010725,0.081545,0.000000
196,UCAYALI,PADRE ABAD,0.050963,0.070412,0.009662,0.000000,0.000000
197,UCAYALI,PURUS,0.005666,0.045455,0.000000,0.000000,0.000000

## Contagiados

In [256]:
CovidDraft['Contagiados_pct']=CovidDraft.iloc[:,0]/(CovidDraft.iloc[:,0] + CovidDraft.iloc[:,1])
Covid_provYear_Contagiados_w=CovidDraft['Contagiados_pct'].unstack('year').fillna(0)
Covid_provYear_Contagiados_w

year                               2020      2021      2022      2023  \
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.967842  0.956657  0.990691  0.987952
             BONGARA           0.939614  0.957635  0.995662  1.000000
             CHACHAPOYAS       0.972707  0.960643  0.996435  0.980132
             CONDORCANQUI      0.977809  0.953287  0.990329  1.000000
             LUYA              0.957983  0.945265  0.996190  0.981132
...                                 ...       ...       ...       ...
TUMBES       ZARUMILLA         0.923210  0.933218  0.980617  0.925926
UCAYALI      ATALAYA           0.916509  0.769784  0.959459  1.000000
             CORONEL PORTILLO  0.916057  0.880238  0.989275  0.918455
             PADRE ABAD        0.949037  0.929588  0.990338  1.000000
             PURUS             0.994334  0.954545  1.000000  1.000000

year                               2024
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             1.000000
             BONGARA           1.000000
             CHACHAPOYAS       0.992701
             CONDORCANQUI      0.000000
             LUYA              1.000000
...                                 ...
TUMBES       ZARUMILLA         1.000000
UCAYALI      ATALAYA           0.000000
             CORONEL PORTILLO  1.000000
             PADRE ABAD        1.000000
             PURUS             0.000000

[198 rows x 5 columns]

In [257]:
Covid_provYear_Contagiados_w.columns

Index(['2020', '2021', '2022', '2023', '2024'], dtype='object', name='year')

In [258]:
Covid_provYear_Contagiados_w.columns=['year'+str(x) for x in Covid_provYear_Contagiados_w.columns]

In [259]:
Covid_provYear_Contagiados_w

                               year2020  year2021  year2022  year2023  \
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             0.967842  0.956657  0.990691  0.987952
             BONGARA           0.939614  0.957635  0.995662  1.000000
             CHACHAPOYAS       0.972707  0.960643  0.996435  0.980132
             CONDORCANQUI      0.977809  0.953287  0.990329  1.000000
             LUYA              0.957983  0.945265  0.996190  0.981132
...                                 ...       ...       ...       ...
TUMBES       ZARUMILLA         0.923210  0.933218  0.980617  0.925926
UCAYALI      ATALAYA           0.916509  0.769784  0.959459  1.000000
             CORONEL PORTILLO  0.916057  0.880238  0.989275  0.918455
             PADRE ABAD        0.949037  0.929588  0.990338  1.000000
             PURUS             0.994334  0.954545  1.000000  1.000000

                               year2024
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA             1.000000
             BONGARA           1.000000
             CHACHAPOYAS       0.992701
             CONDORCANQUI      0.000000
             LUYA              1.000000
...                                 ...
TUMBES       ZARUMILLA         1.000000
UCAYALI      ATALAYA           0.000000
             CORONEL PORTILLO  1.000000
             PADRE ABAD        1.000000
             PURUS             0.000000

[198 rows x 5 columns]

In [260]:
Covid_provYear_Contagiados_w.reset_index(inplace=True)
Covid_provYear_Contagiados_w

,DEPARTAMENTO,PROVINCIA,year2020,year2021,year2022,year2023,year2024
0,AMAZONAS,BAGUA,0.967842,0.956657,0.990691,0.987952,1.000000
1,AMAZONAS,BONGARA,0.939614,0.957635,0.995662,1.000000,1.000000
2,AMAZONAS,CHACHAPOYAS,0.972707,0.960643,0.996435,0.980132,0.992701
3,AMAZONAS,CONDORCANQUI,0.977809,0.953287,0.990329,1.000000,0.000000
4,AMAZONAS,LUYA,0.957983,0.945265,0.996190,0.981132,1.000000
...,...,...,...,...,...,...,...
193,TUMBES,ZARUMILLA,0.923210,0.933218,0.980617,0.925926,1.000000
194,UCAYALI,ATALAYA,0.916509,0.769784,0.959459,1.000000,0.000000
195,UCAYALI,CORONEL PORTILLO,0.916057,0.880238,0.989275,0.918455,1.000000
196,UCAYALI,PADRE ABAD,0.949037,0.929588,0.990338,1.000000,1.000000
197,UCAYALI,PURUS,0.994334,0.954545,1.000000,1.000000,0.000000

Let's call a map:

In [261]:
mapLink='https://github.com/SocialAnalytics-StrategicIntelligence/GeoDF_Analytics/raw/main/maps/ProvsINEI2023.zip'

import geopandas as gpd

provmap=gpd.read_file(mapLink)

provmap.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    196 non-null    float64
 1   CCDD        196 non-null    object
 2   CCPP        196 non-null    object
 3   DEPARTAMEN  196 non-null    object
 4   PROVINCIA   196 non-null    object
 5   geometry    196 non-null    geometry
dtypes: float64(1), geometry(1), object(4)
memory usage: 9.3+ KB

Let me create a column, concatenating two:

In [262]:
provmap['location']=['+'.join(x[0]) for x in zip(provmap.iloc[:,3:5].values)]
provmap.head(10)

,OBJECTID,CCDD,CCPP,DEPARTAMEN,PROVINCIA,geometry,location
0,1.0,01,01,AMAZONAS,CHACHAPOYAS,"POLYGON ((-77.72614 -5.94354, -77.72486 -5.943...",AMAZONAS+CHACHAPOYAS
1,2.0,01,02,AMAZONAS,BAGUA,"POLYGON ((-78.61909 -4.51001, -78.61802 -4.510...",AMAZONAS+BAGUA
2,3.0,01,03,AMAZONAS,BONGARA,"POLYGON ((-77.72759 -5.1403, -77.72361 -5.1406...",AMAZONAS+BONGARA
3,4.0,01,04,AMAZONAS,CONDORCANQUI,"POLYGON ((-77.81399 -2.99278, -77.81483 -2.995...",AMAZONAS+CONDORCANQUI
4,5.0,01,05,AMAZONAS,LUYA,"POLYGON ((-78.13023 -5.9037, -78.13011 -5.9041...",AMAZONAS+LUYA
5,6.0,01,06,AMAZONAS,RODRIGUEZ DE MENDOZA,"POLYGON ((-77.44452 -6.05002, -77.44387 -6.050...",AMAZONAS+RODRIGUEZ DE MENDOZA
6,7.0,01,07,AMAZONAS,UTCUBAMBA,"POLYGON ((-78.09288 -5.36258, -78.09288 -5.364...",AMAZONAS+UTCUBAMBA
7,8.0,02,01,ANCASH,HUARAZ,"POLYGON ((-77.3987 -9.35563, -77.39852 -9.3560...",ANCASH+HUARAZ
8,9.0,02,02,ANCASH,AIJA,"POLYGON ((-77.61368 -9.649, -77.61241 -9.64975...",ANCASH+AIJA
9,10.0,02,03,ANCASH,ANTONIO RAYMONDI,"POLYGON ((-77.08856 -8.97496, -77.08804 -8.975...",ANCASH+ANTONIO RAYMONDI

I will do the same with the data frame:

In [263]:
Covid_provYear_Fallecido_w['location']=['+'.join(x[0]) for x in zip(Covid_provYear_Fallecido_w.iloc[:,:2].values)]
Covid_provYear_Fallecido_w.head()

,DEPARTAMENTO,PROVINCIA,year2020,year2021,year2022,year2023,year2024,location
0,AMAZONAS,BAGUA,0.032158,0.043343,0.009309,0.012048,0.000000,AMAZONAS+BAGUA
1,AMAZONAS,BONGARA,0.060386,0.042365,0.004338,0.000000,0.000000,AMAZONAS+BONGARA
2,AMAZONAS,CHACHAPOYAS,0.027293,0.039357,0.003565,0.019868,0.007299,AMAZONAS+CHACHAPOYAS
3,AMAZONAS,CONDORCANQUI,0.022191,0.046713,0.009671,0.000000,0.000000,AMAZONAS+CONDORCANQUI
4,AMAZONAS,LUYA,0.042017,0.054735,0.003810,0.018868,0.000000,AMAZONAS+LUYA

In [264]:
Covid_provYear_Contagiados_w['location']=['+'.join(x[0]) for x in zip(Covid_provYear_Contagiados_w.iloc[:,:2].values)]
Covid_provYear_Contagiados_w.head()

,DEPARTAMENTO,PROVINCIA,year2020,year2021,year2022,year2023,year2024,location
0,AMAZONAS,BAGUA,0.967842,0.956657,0.990691,0.987952,1.000000,AMAZONAS+BAGUA
1,AMAZONAS,BONGARA,0.939614,0.957635,0.995662,1.000000,1.000000,AMAZONAS+BONGARA
2,AMAZONAS,CHACHAPOYAS,0.972707,0.960643,0.996435,0.980132,0.992701,AMAZONAS+CHACHAPOYAS
3,AMAZONAS,CONDORCANQUI,0.977809,0.953287,0.990329,1.000000,0.000000,AMAZONAS+CONDORCANQUI
4,AMAZONAS,LUYA,0.957983,0.945265,0.996190,0.981132,1.000000,AMAZONAS+LUYA

## Preprocessing

The names from non-english speaking countries may come with some symbols that may cause trouble (', ~). Let's get rid of those:

In [265]:
#!pip install unidecode
import unidecode


byePunctuation=lambda x: unidecode.unidecode(x)
Covid_provYear_Fallecido_w['location']=Covid_provYear_Fallecido_w['location'].apply(byePunctuation)
provmap['location']=provmap['location'].apply(byePunctuation)

It would be good making sure no *ghost* appears between words:

In [266]:
# replacing dashes and multiple spaces by a simple space
Covid_provYear_Fallecido_w['location']=Covid_provYear_Fallecido_w.location.str.replace("\-|\_|\s+","",regex=True)
provmap['location']=provmap.location.str.replace("\-|\_|\s+","",regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:3: SyntaxWarning: invalid escape sequence '\-'
<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:3: SyntaxWarning: invalid escape sequence '\-'
C:\Users\maria\AppData\Local\Temp\ipykernel_21972\1316211407.py:2: SyntaxWarning: invalid escape sequence '\-'
  Covid_provYear_Fallecido_w['location']=Covid_provYear_Fallecido_w.location.str.replace("\-|\_|\s+","",regex=True)
C:\Users\maria\AppData\Local\Temp\ipykernel_21972\1316211407.py:3: SyntaxWarning: invalid escape sequence '\-'
  provmap['location']=provmap.location.str.replace("\-|\_|\s+","",regex=True)

## contagiados

In [267]:
#!pip install unidecode
import unidecode


byePunctuation=lambda x: unidecode.unidecode(x)
Covid_provYear_Contagiados_w['location']=Covid_provYear_Contagiados_w['location'].apply(byePunctuation)
provmap['location']=provmap['location'].apply(byePunctuation)

In [268]:
# replacing dashes and multiple spaces by a simple space
Covid_provYear_Contagiados_w['location']=Covid_provYear_Contagiados_w.location.str.replace("\-|\_|\s+","",regex=True)
provmap['location']=provmap.location.str.replace("\-|\_|\s+","",regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:3: SyntaxWarning: invalid escape sequence '\-'
<>:2: SyntaxWarning: invalid escape sequence '\-'
<>:3: SyntaxWarning: invalid escape sequence '\-'
C:\Users\maria\AppData\Local\Temp\ipykernel_21972\1579885440.py:2: SyntaxWarning: invalid escape sequence '\-'
  Covid_provYear_Contagiados_w['location']=Covid_provYear_Contagiados_w.location.str.replace("\-|\_|\s+","",regex=True)
C:\Users\maria\AppData\Local\Temp\ipykernel_21972\1579885440.py:3: SyntaxWarning: invalid escape sequence '\-'
  provmap['location']=provmap.location.str.replace("\-|\_|\s+","",regex=True)

## Merging

We need to merge both tables now. That can happen effectively if both tables have a **key** column: a column (or collection of them) whose values in one table are the same in the other one.

The match need not be exact, but only common values in the *key* are merged.

Let's find out what is NOT matched in each table:

In [269]:
nomatch_df=set(Covid_provYear_Fallecido_w.location)- set(provmap.location)
nomatch_gdf=set(provmap.location)-set(Covid_provYear_Fallecido_w.location)

This is what could not be matched:

In [270]:
len(nomatch_df), len(nomatch_gdf)

(4, 2)

The right way to go is using **fuzzy merging** (remember we need  _the fuzz_):

In [271]:
#!pip install thefuzz
# pick the closest match from nomatch_gdf for a value in nomatch_df
from thefuzz import process
[(dis,process.extractOne(dis,nomatch_gdf)) for dis in sorted(nomatch_df)]

[('ANCASH+ANTONIORAIMONDI', ('ANCASH+ANTONIORAYMONDI', 95)),
 ('ICA+NAZCA', ('ICA+NASCA', 89)),
 ('LIMAMETROPOLITANA+CANETE', ('ICA+NASCA', 60)),
 ('LIMAMETROPOLITANA+LIMA', ('ICA+NASCA', 49))]

In [272]:
from thefuzz import process

# Crear un diccionario con las coincidencias más cercanas entre nomatch_df y nomatch_gdf
changesinDF = {dis: process.extractOne(dis, nomatch_gdf)[0] for dis in sorted(nomatch_df)}

# Mostrar el diccionario de cambios para asegurarse que está correcto
print("Diccionario de cambios:", changesinDF)

Diccionario de cambios: {'ANCASH+ANTONIORAIMONDI': 'ANCASH+ANTONIORAYMONDI', 'ICA+NAZCA': 'ICA+NASCA', 'LIMAMETROPOLITANA+CANETE': 'ICA+NASCA', 'LIMAMETROPOLITANA+LIMA': 'ICA+NASCA'}

In [273]:
# Aplicar los cambios en la columna 'location' del GeoDataFrame
Covid_provYear_Fallecido_w.replace({'location': changesinDF}, inplace=True)

# Verificar si se aplicaron correctamente
print(Covid_provYear_Fallecido_w['location'].unique())

['AMAZONAS+BAGUA' 'AMAZONAS+BONGARA' 'AMAZONAS+CHACHAPOYAS'
 'AMAZONAS+CONDORCANQUI' 'AMAZONAS+LUYA' 'AMAZONAS+RODRIGUEZDEMENDOZA'
 'AMAZONAS+UTCUBAMBA' 'ANCASH+AIJA' 'ANCASH+ANTONIORAYMONDI'
 'ANCASH+ASUNCION' 'ANCASH+BOLOGNESI' 'ANCASH+CARHUAZ'
 'ANCASH+CARLOSFERMINFITZCARRALD' 'ANCASH+CASMA' 'ANCASH+CORONGO'
 'ANCASH+HUARAZ' 'ANCASH+HUARI' 'ANCASH+HUARMEY' 'ANCASH+HUAYLAS'
 'ANCASH+MARISCALLUZURIAGA' 'ANCASH+OCROS' 'ANCASH+PALLASCA'
 'ANCASH+POMABAMBA' 'ANCASH+RECUAY' 'ANCASH+SANTA' 'ANCASH+SIHUAS'
 'ANCASH+YUNGAY' 'APURIMAC+ABANCAY' 'APURIMAC+ANDAHUAYLAS'
 'APURIMAC+ANTABAMBA' 'APURIMAC+AYMARAES' 'APURIMAC+CHINCHEROS'
 'APURIMAC+COTABAMBAS' 'APURIMAC+GRAU' 'AREQUIPA+AREQUIPA'
 'AREQUIPA+CAMANA' 'AREQUIPA+CARAVELI' 'AREQUIPA+CASTILLA'
 'AREQUIPA+CAYLLOMA' 'AREQUIPA+CONDESUYOS' 'AREQUIPA+ISLAY'
 'AREQUIPA+LAUNION' 'AYACUCHO+CANGALLO' 'AYACUCHO+HUAMANGA'
 'AYACUCHO+HUANCASANCOS' 'AYACUCHO+HUANTA' 'AYACUCHO+LAMAR'
 'AYACUCHO+LUCANAS' 'AYACUCHO+PARINACOCHAS' 'AYACUCHO+PAUCARDELSARASARA'
 'AYACUCHO+SUCRE' 'AYACUCHO+VICTORFAJARDO' 'AYACUCHO+VILCASHUAMAN'
 'CAJAMARCA+CAJABAMBA' 'CAJAMARCA+CAJAMARCA' 'CAJAMARCA+CELENDIN'
 'CAJAMARCA+CHOTA' 'CAJAMARCA+CONTUMAZA' 'CAJAMARCA+CUTERVO'
 'CAJAMARCA+HUALGAYOC' 'CAJAMARCA+JAEN' 'CAJAMARCA+SANIGNACIO'
 'CAJAMARCA+SANMARCOS' 'CAJAMARCA+SANMIGUEL' 'CAJAMARCA+SANPABLO'
 'CAJAMARCA+SANTACRUZ' 'CALLAO+CALLAO' 'CUSCO+ACOMAYO' 'CUSCO+ANTA'
 'CUSCO+CALCA' 'CUSCO+CANAS' 'CUSCO+CANCHIS' 'CUSCO+CHUMBIVILCAS'
 'CUSCO+CUSCO' 'CUSCO+ESPINAR' 'CUSCO+LACONVENCION' 'CUSCO+PARURO'
 'CUSCO+PAUCARTAMBO' 'CUSCO+QUISPICANCHI' 'CUSCO+URUBAMBA'
 'HUANCAVELICA+ACOBAMBA' 'HUANCAVELICA+ANGARAES'
 'HUANCAVELICA+CASTROVIRREYNA' 'HUANCAVELICA+CHURCAMPA'
 'HUANCAVELICA+HUANCAVELICA' 'HUANCAVELICA+HUAYTARA'
 'HUANCAVELICA+TAYACAJA' 'HUANUCO+AMBO' 'HUANUCO+DOSDEMAYO'
 'HUANUCO+HUACAYBAMBA' 'HUANUCO+HUAMALIES' 'HUANUCO+HUANUCO'
 'HUANUCO+LAURICOCHA' 'HUANUCO+LEONCIOPRADO' 'HUANUCO+MARANON'
 'HUANUCO+PACHITEA' 'HUANUCO+PUERTOINCA' 'HUANUCO+YAROWILCA' 'ICA+CHINCHA'
 'ICA+ICA' 'ICA+NASCA' 'ICA+PALPA' 'ICA+PISCO' 'JUNIN+CHANCHAMAYO'
 'JUNIN+CHUPACA' 'JUNIN+CONCEPCION' 'JUNIN+HUANCAYO' 'JUNIN+JAUJA'
 'JUNIN+JUNIN' 'JUNIN+SATIPO' 'JUNIN+TARMA' 'JUNIN+YAULI'
 'LALIBERTAD+ASCOPE' 'LALIBERTAD+BOLIVAR' 'LALIBERTAD+CHEPEN'
 'LALIBERTAD+GRANCHIMU' 'LALIBERTAD+JULCAN' 'LALIBERTAD+OTUZCO'
 'LALIBERTAD+PACASMAYO' 'LALIBERTAD+PATAZ' 'LALIBERTAD+SANCHEZCARRION'
 'LALIBERTAD+SANTIAGODECHUCO' 'LALIBERTAD+TRUJILLO' 'LALIBERTAD+VIRU'
 'LAMBAYEQUE+CHICLAYO' 'LAMBAYEQUE+FERRENAFE' 'LAMBAYEQUE+LAMBAYEQUE'
 'LIMA+BARRANCA' 'LIMA+CAJATAMBO' 'LIMA+CANTA' 'LIMA+CANETE' 'LIMA+HUARAL'
 'LIMA+HUAROCHIRI' 'LIMA+HUAURA' 'LIMA+LIMA' 'LIMA+OYON' 'LIMA+YAUYOS'
 'LORETO+ALTOAMAZONAS' 'LORETO+DATEMDELMARANON' 'LORETO+LORETO'
 'LORETO+MARISCALRAMONCASTILLA' 'LORETO+MAYNAS' 'LORETO+PUTUMAYO'
 'LORETO+REQUENA' 'LORETO+UCAYALI' 'MADREDEDIOS+MANU'
 'MADREDEDIOS+TAHUAMANU' 'MADREDEDIOS+TAMBOPATA'
 'MOQUEGUA+GENERALSANCHEZCERRO' 'MOQUEGUA+ILO' 'MOQUEGUA+MARISCALNIETO'
 'PASCO+DANIELALCIDESCARRION' 'PASCO+OXAPAMPA' 'PASCO+PASCO'
 'PIURA+AYABACA' 'PIURA+HUANCABAMBA' 'PIURA+MORROPON' 'PIURA+PAITA'
 'PIURA+PIURA' 'PIURA+SECHURA' 'PIURA+SULLANA' 'PIURA+TALARA'
 'PUNO+AZANGARO' 'PUNO+CARABAYA' 'PUNO+CHUCUITO' 'PUNO+ELCOLLAO'
 'PUNO+HUANCANE' 'PUNO+LAMPA' 'PUNO+MELGAR' 'PUNO+MOHO' 'PUNO+PUNO'
 'PUNO+SANANTONIODEPUTINA' 'PUNO+SANROMAN' 'PUNO+SANDIA' 'PUNO+YUNGUYO'
 'SANMARTIN+BELLAVISTA' 'SANMARTIN+ELDORADO' 'SANMARTIN+HUALLAGA'
 'SANMARTIN+LAMAS' 'SANMARTIN+MARISCALCACERES' 'SANMARTIN+MOYOBAMBA'
 'SANMARTIN+PICOTA' 'SANMARTIN+RIOJA' 'SANMARTIN+SANMARTIN'
 'SANMARTIN+TOCACHE' 'TACNA+CANDARAVE' 'TACNA+JORGEBASADRE' 'TACNA+TACNA'
 'TACNA+TARATA' 'TUMBES+CONTRALMIRANTEVILLAR' 'TUMBES+TUMBES'
 'TUMBES+ZARUMILLA' 'UCAYALI+ATALAYA' 'UCAYALI+CORONELPORTILLO'
 'UCAYALI+PADREABAD' 'UCAYALI+PURUS']

In [274]:
# Verificar nuevamente las diferencias entre ambos GeoDataFrames
nomatch_df = set(Covid_provYear_Fallecido_w.location) - set(provmap.location)
nomatch_gdf = set(provmap.location) - set(Covid_provYear_Fallecido_w.location)

# Mostrar las diferencias restantes
print("Diferencias en nomatch_df:", nomatch_df)
print("Diferencias en nomatch_gdf:", nomatch_gdf)

Diferencias en nomatch_df: set()
Diferencias en nomatch_gdf: set()

If you are comfortable, you prepare a _dictionary_ of changes:

Is it over?

Now the merge can happen:

In [278]:
Covid_provYear_Contagiados_map=provmap.merge(Covid_provYear_Contagiados_w, on='location',how='left',indicator='flag')

In [279]:
# check
Covid_provYear_Contagiados_map.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      196 non-null    float64
 1   CCDD          196 non-null    object
 2   CCPP          196 non-null    object
 3   DEPARTAMEN    196 non-null    object
 4   PROVINCIA_x   196 non-null    object
 5   geometry      196 non-null    geometry
 6   location      196 non-null    object
 7   DEPARTAMENTO  194 non-null    object
 8   PROVINCIA_y   194 non-null    object
 9   year2020      194 non-null    float64
 10  year2021      194 non-null    float64
 11  year2022      194 non-null    float64
 12  year2023      194 non-null    float64
 13  year2024      194 non-null    float64
 14  flag          196 non-null    category
dtypes: category(1), float64(6), geometry(1), object(7)
memory usage: 21.9+ KB

In [280]:
# avoid poblems with fillna()
Covid_provYear_Contagiados_map['flag']=Covid_provYear_Contagiados_map.flag.astype(str)

We can get rid of some columns:

In [281]:
bye=['departamento', 'provincia', 'CCPP','CCDD']
Covid_provYear_Contagiados_map.drop(columns=bye,inplace=True)

# keeping
Covid_provYear_Contagiados_map.head()

KeyError: "['departamento', 'provincia'] not found in axis"

In [ ]:
# filling with zeroes
dengue_provYear_Alarm_map.fillna(0,inplace=True)

We can save this geoDF:

In [ ]:
import os
dengue_provYear_Alarm_map.to_file(os.path.join('maps',"provinciasPeru.gpkg"), layer='provinciasDengue', driver="GPKG")

## Exploring one variable

This time, we explore statistically one variable in the map:

In [ ]:
# statistics
dengue_provYear_Alarm_map.year2022.describe()

A visual look:

In [ ]:
import seaborn as sea

sea.boxplot(dengue_provYear_Alarm_map.year2022, color='yellow',orient='h')

In [ ]:

from sklearn.preprocessing import QuantileTransformer
qt = QuantileTransformer(n_quantiles=100, random_state=0,output_distribution='normal')
qt_result=qt.fit_transform(dengue_provYear_Alarm_map[['year2022']])
sea.boxplot(qt_result, color='yellow',orient='h')

In [ ]:
dengue_provYear_Alarm_map['year_2022_qt']=qt_result

## Spatial Correlation

### Neighboorhood

We can compute the neighborhood in a map using different algorithms:

In [ ]:
from libpysal.weights import Queen, Rook, KNN

# rook

w_rook = Rook.from_dataframe(dengue_provYear_Alarm_map,use_index=False)

In [ ]:
# rook
w_queen = Queen.from_dataframe(dengue_provYear_Alarm_map,use_index=False)

In [ ]:
# k nearest neighbors
w_knn = KNN.from_dataframe(dengue_provYear_Alarm_map, k=8)

Let's understand the differences:

In [ ]:
# first one
dengue_provYear_Alarm_map.head(1)

In [ ]:
# amount neighbors of that district
w_rook.neighbors[0]

In [ ]:
# see
base=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.PROVINCIA=="CHACHAPOYAS"].plot()
dengue_provYear_Alarm_map.iloc[w_rook.neighbors[0] ,].plot(ax=base,facecolor="yellow",edgecolor='k')
dengue_provYear_Alarm_map.head(1).plot(ax=base,facecolor="red")

Let's do the same:

In [ ]:
w_queen.neighbors[0]

In [ ]:
base=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.PROVINCIA=="CHACHAPOYAS"].plot()
dengue_provYear_Alarm_map.iloc[w_queen.neighbors[0] ,].plot(ax=base,facecolor="yellow",edgecolor='k')
dengue_provYear_Alarm_map.head(1).plot(ax=base,facecolor="red")

In [ ]:
w_knn.neighbors[0]

In [ ]:
base=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.PROVINCIA=="CHACHAPOYAS"].plot()
dengue_provYear_Alarm_map.iloc[w_knn.neighbors[0] ,].plot(ax=base,facecolor="yellow",edgecolor='k')
dengue_provYear_Alarm_map.head(1).plot(ax=base,facecolor="red")

Let me pay attention to the queen results:

In [ ]:
# all the neighbors by row
w_queen.neighbors

In [ ]:
# the matrix of neighboorhood:

pd.DataFrame(*w_queen.full()).astype(int) # 1 means both are neighbors

In [ ]:
# pct of neighboorhood (density)
w_queen.pct_nonzero

In [ ]:
# a province with NO neighbor?
w_queen.islands

## Moran's correlation

We need the neighboorhood matrix (the weight matrix) to compute spatial correlation: if the variable value is correlated with the values of its neighbors - which proves a spatial effect.

In [ ]:
# needed for spatial correlation
w_queen.transform = 'R'

In [ ]:
pd.DataFrame(*w_queen.full()).sum(axis=1) # 1 means both are neighbors

Spatial correlation is measured by the Moran's I statistic:

In [ ]:
from esda.moran import Moran

moranDENGUE = Moran(dengue_provYear_Alarm_map['year_2022_qt'], w_queen)
moranDENGUE.I,moranDENGUE.p_sim

The Moran's I is significant. Let's see:

In [ ]:
from splot.esda import moran_scatterplot
import matplotlib.pyplot as plt

fig, ax = moran_scatterplot(moranDENGUE)
ax.set_xlabel('Dengue_alarma_share')
ax.set_ylabel('SpatialLag_Dengue_alarma_share')

### Local Spatial Correlation

We can compute a LISA (local Moran) for each case. That will help us find spatial clusters (spots) and spatial outliers:

* A **hotSpot** is a polygon whose value in the variable is high AND is surrounded with polygons with also high values.

* A **coldSpot** is a polygon whose value in the variable is low AND is surrounded with polygons with also low values.

* A **coldOutlier** is a polygon whose value in the variable is low BUT is surrounded with polygons with  high values.

* A **hotOutlier** is a polygon whose value in the variable is high BUT is surrounded with polygons with  low values.

It is also possible that no significant correlation is detected. Let's see those values:

In [ ]:
# The scatterplot with local info

from esda.moran import Moran_Local

# calculate Moran_Local and plot
lisaDENGUE = Moran_Local(y=dengue_provYear_Alarm_map['year_2022_qt'], w=w_knn,seed=2022)
fig, ax = moran_scatterplot(lisaDENGUE,p=0.05)
ax.set_xlabel('Dengue_alarma_share')
ax.set_ylabel('SpatialLag_Dengue_alarma_share');

In [ ]:
from splot.esda import plot_local_autocorrelation
plot_local_autocorrelation(lisaDENGUE, dengue_provYear_Alarm_map,'year_2022_qt')
plt.show()

In [ ]:
# the map with the spots and outliers

from splot.esda import lisa_cluster
f, ax = plt.subplots(1, figsize=(12, 12))
plt.title('Spots and Outliers')
fig = lisa_cluster(lisaDENGUE,
                   dengue_provYear_Alarm_map,ax=ax,
                   legend_kwds={'loc': 'center left',
                                'bbox_to_anchor': (0.7, 0.6)})

Let me add that data to my gdf:

In [ ]:
# quadrant
lisaDENGUE.q

In [ ]:
# significance
lisaDENGUE.p_sim

In [ ]:
# quadrant: 1 HH,  2 LH,  3 LL,  4 HL
pd.Series(lisaDENGUE.q).value_counts()

The info in **lisaDENGUE.q** can not be used right away, we need to add if the local spatial correlation is significant:

In [ ]:
dengue_provYear_Alarm_map['DENGUE_quadrant']=[l if p <0.05 else 0 for l,p in zip(lisaDENGUE.q,lisaDENGUE.p_sim)  ]
dengue_provYear_Alarm_map['DENGUE_quadrant'].value_counts()

Now, we recode:

In [ ]:
labels = [ '0 no_sig', '1 hotSpot', '2 coldOutlier', '3 coldSpot', '4 hotOutlier']

dengue_provYear_Alarm_map['DENGUE_quadrant_names']=[labels[i] for i in dengue_provYear_Alarm_map['DENGUE_quadrant']]

dengue_provYear_Alarm_map['DENGUE_quadrant_names'].value_counts()

Let's replot:

In [ ]:
from matplotlib import colors
myColMap = colors.ListedColormap([ 'ghostwhite', 'red', 'green', 'black','orange'])




f, ax = plt.subplots(1, figsize=(12,12))


plt.title('Spots and Outliers')

dengue_provYear_Alarm_map.plot(column='DENGUE_quadrant_names',
                categorical=True,
                cmap=myColMap,
                linewidth=0.1,
                edgecolor='white',
                legend=True,
                legend_kwds={'loc': 'center left',
                             'bbox_to_anchor': (0.7, 0.6)},
                ax=ax)
# Remove axis
ax.set_axis_off()
# Display the map
plt.show()

In [ ]:
dengue_provYear_Alarm_map.explore("DENGUE_quadrant_names", categorical=True,tooltip='location',cmap=myColMap)

In [ ]:
import folium

map1=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.DENGUE_quadrant_names=='1 hotSpot']
map2=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.DENGUE_quadrant_names=='2 coldOutlier']
map3=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.DENGUE_quadrant_names=='3 coldSpot']
map4=dengue_provYear_Alarm_map[dengue_provYear_Alarm_map.DENGUE_quadrant_names=='4 hotOutlier']

m = map1.explore(
    color="red",
    tooltip=False,  # hide tooltip
    popup=["location"],  # (on-click)
    name="hotSpot"  # name of the layer in the map
)

map2.explore(
    m=m, # notice
    color="green",
    tooltip=False,
    popup=["location"],
    name="coldOutlier"
)

map3.explore(
    m=m,
    color="black",
    tooltip=False,
    popup=["location"],
    name="coldSpot",
)

map4.explore(
    m=m,
    color="orange",
    tooltip=False,
    popup=["location"],
    name="hotOutlier",
)

folium.TileLayer("CartoDB positron", show=False).add_to(m)  # use folium to add alternative tiles
folium.LayerControl(collapsed=True).add_to(m)  # use folium to add layer control

m  # show map

## Bivariate LISA

In [ ]:
#from esda.moran import Moran_BV, Moran_Local_BV
from esda.moran import Moran_BV

mbi = Moran_BV(dengue_provYear_Alarm_map['year2021'],  dengue_provYear_Alarm_map['year2022'],  w_queen)
mbi.I,mbi.p_sim

In [ ]:
# The scatterplot with local info
from esda.moran import Moran_Local_BV

# calculate Moran_Local and plot
lisaDENGUE_bv = Moran_Local_BV(y=dengue_provYear_Alarm_map['year2021'],
                               x=dengue_provYear_Alarm_map['year2022'],
                               w=w_queen)

fig, ax = moran_scatterplot(lisaDENGUE_bv, p=0.05,aspect_equal=True)

ax.set_xlabel('Dengue_2022')
ax.set_ylabel('SpatialLag_Dengue_2021')
plt.show()

In [ ]:
dengue_provYear_Alarm_map['DENGUE_quadrant_21_22']=[l if p <0.05 else 0 for l,p in zip(lisaDENGUE_bv.q,lisaDENGUE_bv.p_sim)  ]

labels = [ '0 no_sig', '1 hotSpot', '2 coldOutlier', '3 coldSpot', '4 hotOutlier']

dengue_provYear_Alarm_map['DENGUE_quadrant_21_22_names']=[labels[i] for i in dengue_provYear_Alarm_map['DENGUE_quadrant_21_22']]

In [ ]:
# see new columns
dengue_provYear_Alarm_map

In [ ]:
from matplotlib import colors
myColMap = colors.ListedColormap([ 'ghostwhite', 'red', 'green', 'black','orange'])




f, ax = plt.subplots(1, figsize=(12,12))


plt.title('Spots and Outliers')

dengue_provYear_Alarm_map.plot(column='DENGUE_quadrant_21_22_names',
                categorical=True,
                cmap=myColMap,
                linewidth=0.1,
                edgecolor='white',
                legend=True,
                legend_kwds={'loc': 'center left',
                             'bbox_to_anchor': (0.7, 0.6)},
                ax=ax)
# Remove axis
ax.set_axis_off()
# Display the map
plt.show()